.typewriter {
    color: white;
    font-weight: 700;
}

.cursor {
    display: inline-block;
    margin-left: 2px;
    font-weight: 300;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to { opacity: 1; }
    50% { opacity: 0; }
}
